# node_modules
/translateTool/SVGserver/node_modules/

# views目录非布局hbs
/translateTool/SVGserver/views/*.hbs
!/translateTool/SVGserver/views/layout.hbs
!/translateTool/SVGserver/views/error.hbs
